tls_server_config:
  cert_file: /run/credentials/resource-advisor-node-exporter.service/telemetry-cert.pem
  key_file: /run/credentials/resource-advisor-node-exporter.service/telemetry-key.pem
  client_ca_file: /run/credentials/resource-advisor-node-exporter.service/telemetry-ca.pem
  client_auth_type: RequireAndVerifyClientCert
  min_version: TLS12
